*, :before, :after{
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    background-image: url('../imgs/jd21/bj.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-overflow-scrolling: touch;
}

#main{
    width: 100%;
}

h1{
    font-size: 44px;
    font-weight: 100;
}
h2{
    font-size: 14px;
    font-weight: 100;
}
h5{
    font-size: 14px;
    font-weight: 100;
}

.list .list_title{
    padding: 50px 0px;
    text-align: center;
}

.list .list_title2{
    padding: 20px 0px;
    text-align: center;
}

.list_title_h1{
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 20s infinite linear;
    background-clip: text;
    text-fill-color: transparent;
    animation: hue 10s infinite linear;
}
.list_title_h2{
    color: #f35626;
    -webkit-animation-iteration-count: infinite;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
    filter: hue-rotate(-360deg);
  }
}

.list .list_imgs{
    text-align: center;
    padding: 30px 0;
}
.list .list_imgs img{
    padding: 0 50px;
}

.list_title_h5{
    color: #f35626;
}
.buy{
    text-align: center;
    padding: 10px 0;
}
.buy_a{
    padding: 8px 0;
    color: #fff;
    background-color: #f35626;
    text-decoration: none;
    display: block;
    width: 120px;
    margin: 0 auto;
    font-size: 16px;
}

.list2{
    text-align: center;
    display: none;
}

.list2 img{
    width: 100%;
    max-width: 790px;
}

#wx{
    width: 100%;
    text-align: center;
    background-color: #c60308;
    position: fixed;
    top: 0;
    height: 100%;
    display: none;
}
#wx img{
    width: 100%;
    max-width: 420px;
}

@media (max-width:420px){
h1{
    font-size: 30px;
    font-weight: 100;
}
h5{
    font-size: 16px;
    font-weight: 100;
}

.list .list_title{
    padding: 30px 0px;
    text-align: center;
}
.buy{
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.buy_a{
    width: 100%;
    padding: 15px 0;
}
.list .list_title2{
    padding: 10px 5px 66px 5px;
}
}